
<div class="about-content">
    <!-- Image Section -->
    <div class="about-image">
      <img src="/assets/images/half_card.jpg" alt="profile-image">
    </div>

    <!-- Text Section -->
    <div class="about-text">
      <h1>About <span>Me</span></h1>
      <p>{{ about_text }}</p>
      <p>{{ aboutText2 }}</p>
      <div class="about-buttons">
        <button class="btn hire-me">Hire Me</button>
        <button class="btn download-cv">Download CV</button>
      </div>
    </div>
  </div>
<div class="about-section-2">
    <h1 class="section-title">Skills</h1>
    <div class="abt-elm">
        <h1>My Skills</h1>
        <ul>
            <li *ngFor="let skill of skills">
                <img src={{skill.image}} alt="skill-image">
                <h2>{{skill.title}}</h2>
                <p>{{skill.description}}</p>
            </li>
        </ul>
       
    </div>
        
</div>
